
  h1, h3 {
    margin-top: 2%;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  .rate {
    margin-top: 1%;
    display: block;
  } 
  
  .genres {
    margin-top: 1%;
  }
  
  .genreTitle, .rateMovie {
    margin-right: 1%;
  }

  .detail-movie {
      margin: 2% auto;
      /* height: 100vh; */
  }

  .container-btn-similar {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
  }