.custom-image img {
    width: 100%;
    object-fit: contain;
    vertical-align: top;
  }
  .custom-card {
    padding: 10px 16px;
  }
  .custom-card p {
    color: #999;
  }

  .Movie {
    width: 240px;
    margin: 5px auto;
  }